nav {
  background-image: linear-gradient(to bottom right, #ffd89b, #19547b);
}

nav h1 {
  color: rgb(75, 75, 75);
  font-size: 35px;
}

#search_container {
  width: 200%;
}

#search_container button {
  width: 100%;
  margin-bottom: 5px;
  background-color: #19547b;
  box-shadow: 5px 5px 5px #19547b59;
}

.UVI {
  padding: 5px;
  border-radius: 10px;
}

#green {
  background-color: rgb(3, 185, 3);
  color: white;
}

#yellow {
  background-color: rgb(231, 216, 0);
  color: white;
}

#orange {
  background-color: rgb(219, 143, 0);
  color: white;
}

#red {
  background-color: rgb(190, 0, 0);
  color: white;
}

#purple {
  background-color: rgb(131, 46, 75);
  color: rgb(146, 129, 129);
}

#forecast-card {
  background-color: #19547b;
}

#forecast-card:hover {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}

#history {
  margin-top: 30px;
}

#history button {
  background-color: #ffd89b;
  color: black;
  margin-top: 5px;
}
